<h1>A propos</h1>
<p>
<!--   <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  est un projet de livre et de screencasts pour apprendre le développement web
  avec <a href="http://rubyonrails.org/">Ruby on Rails</a>. C'est l'Application Exemple de ce tutoriel. -->
  <span class="bold">Ce projet a été réalisé par Morgane TROYSI, étudiante en M1 Informatique à l'Université d'Angers dans le cadre de l'UE de Développement Web.</span><br/><br/>
  Cette application, conçue avec le framework Ruby on Rails, est basée sur le <a href="http://railstutorial.org/">tutoriel Ruby on Rails</a> de Michael Hartl.<br/>
  Des fonctionnalités spécifiques ont été rajoutées afin de répondre à <a href="http://forge.info.univ-angers.fr/~gh/Scripts/cc.php">l'énoncé du projet</a>.
</p>