<h1>Contact</h1>
  <ul>
  	<li><a href="mailto:morgane.troysi@etud.univ-angers.fr"><span class="bold">Email</span></a></li>
  	<li><a href="http://fr.linkedin.com/in/morganetroysi"><span class="bold">LinkedIn</span></a></li>
  </ul>

