<h1>Projet Ruby on Rails</h1>
<p>
  <span class="bold">Bienvenue sur la page d'accueil de mon projet réalisé à l'aide de <a href="http://rubyonrails.org/">Ruby on Rails</a>.</span> <br/>
  Pour en savoir plus sur le projet, je vous invite à visiter la page <%= link_to "A Propos", about_path %>.
  Commencez par vous inscrire pour découvrir les fonctionnalités mises en place.
</p>
<%= link_to "S'inscrire !", signup_path, :class => "signup_button round" %>